################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCore.Reporting.WebApi/obj
/.vs
/AspNetCore.Reporting.WebApi/bin/Debug/netcoreapp2.2
